nav {
  height: 120px;
  width:100vw;
  background-color: #4056A1;
  color: #FFFFFFFF;
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  position:sticky;
  top:0;
}

nav>* {
  margin:1.5em;

}

nav>span {
  font-family: 'Bungee',sans-serif;

}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

nav img {
  width: 16px;
  height:16px;
}