.tweet-container {
  width:100%;
}

article.tweet {
  width:100%;
  border-style: solid;
  border-color:  #545149;
  border-width: medium;
  margin-top:1em;
  padding: 0.5em;
}

article.tweet:hover {
  box-shadow: 10px 5px 11px gray;
}

article.tweet header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

 .userInfo {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.userName {
  margin-left:15px;
  font-weight:300;
}

 .userHandler {
  color:gray;
  font-weight:600;
}

article.tweet:hover .userReaction{
  display: block;
}

article.tweet p {
  font-weight: 500;

}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-style: solid;
  border-top-width: medium;
  border-color:  #545149;
}

.userReaction {
  display:none;
  color:#4056A1;
}